development:
    parameters:
        database:
          host: 'localhost'
          user: 'supervisor'
          password: ''
          dbname: 'supervisor'

production:
    parameters:
        database:
          host: 'localhost'
          user: 'supervisor'
          password: ''
          dbname: 'supervisor'