#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

extensions:
  console: Kdyby\Console\DI\ConsoleExtension
  visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension

includes:
  - extension.doctrine.neon
  - extension.importer.neon
  - extension.nette.decorator.neon
  - extension.nette.neon
#  - extension.recaptcha.neon
  - extension.sentry.neon
  - extension.webloader.neon

services:
  - Nextras\Forms\Rendering\Bs3FormRenderer
  - Supervizor\Storage\CacheStorage

  - Supervizor\Budget\BudgetFacade
  - Supervizor\Supplies\SupplierFacade

  # Compoenents
  - Supervizor\UI\BaseForm
  - Supervizor\Security\Controls\SignInFormFactory

  # security
  - Supervizor\Security\Authenticator
  - Supervizor\Security\PasswordManager

  # repository
  - Supervizor\Security\UserRepository
  - Supervizor\Supplies\SupplierRepository
  - Supervizor\Invoice\InvoiceRepository
  - Supervizor\Budget\BudgetRepository
  - Supervizor\Import\ImportRepository

  # import
  - class: Supervizor\Import\ImportTarget
    inject: true

  # commands
  - Supervizor\Console\Commands\DefaultData
  - Supervizor\Console\Commands\Import
