
services:

    - App\Model\Entities\SupervizorSettings

    # security
    - App\Model\Security\Authenticator
    - App\Model\Security\PasswordManager

    # repository
    - App\Model\Repository\UserRepository
    - App\Model\Repository\SupplierRepository

    # commands
    -
        class: App\Model\Fixtures\DefaultData
        tags: [kdyby.console.command]