RewriteEngine on

RewriteRule ^api\/(.*)$      	                                        ./api.php?endpoint=$1      		                             [L,QSA]
	
RewriteRule ^stranka\/([a-zA-Z\-0-9]+)$                               ./stranka.php?stranka=$1         								           [L,QSA]
RewriteRule ^faktura\/([a-zA-Z\-0-9]+)$                               ./faktura.php?faktura=$1         								           [L,QSA]

RewriteRule ^skupina\/([a-z]+)\/?(\d+)?\/?$ 						              ./index.php?view=skupina&skupina=$1&page=$2					       [L,QSA]
RewriteRule ^skupina\/([a-z]+)\/(\d+)\/dodavatel\/([\d\-]+)\/?$		    ./index.php?view=skupina&skupina=$1&page=$2&dodavatel=$3   [L,QSA]

RewriteRule ^import$                                                  ./import.php                                               [L,QSA]

<IfModule mod_php5.c>
#  php_value error_reporting 30719
  php_flag display_errors 0
</IfModule>